<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <title>Adicionar despesa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css')}}">
</head>
<body>
    <h1>Quanto deseja adicionar a despesa?</h1>
    <p>Selecione um numero para a despesa</p>
    <form method="POST" action="/salvar_despesa">
        
    <label for="despesa" class="texto-despesa">Despesa:</label>
    <!--um campo para colocar o numero do input da despesa-->
    <input type="text" id="despesa" name="despesa" class="campo_despesa" inputmode="numeric" placeholder="R$ 0,00">
    <!--descrição-->
    <label for="descricao">Descrição:</label>
    <input type="text" id="descricao" name="descricao" class="descricao_despesa"  placeholder="Insira uma descrição">
    <br><br>
    <button type="submit" class="botao_despesa">Adicionar Despesa</button>
    </form>
    <script>
        const campomoeda = document.getElementById('despesa');
        campomoeda.addEventListener('input', function (e){

            //lembrete: isso remove o que não for digito numerico
            let valor = e .target.value.replace(/\D/g,"");

            // esse aqui transforma o numero em numero com centavos
            valor = (valor/100).toFixed(2);

            //transforma em moeda
            if (valor === "0.00"){
                e.target.value = "";
            }else {
                e.target.value = new Intl.NumberFormat('pt-BR',{
                    style:"currency",
                    currency: 'BRL' 
                }).format(valor);
            }
        })
    </script>