<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- em 3 segundos mudará para a página admin-->
    <meta http-equiv="refresh" content="3;url=/admin">
    
    <title>Sucesso!</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            padding-top: 100px;
            background-color: #f4f7f6;
        }
        .mensagem {
            color: #2ecc71;
            font-size: 24px;
            font-weight: bold;
        }
        .subtitulo {
            color: #7f8c8d;
            margin-top: 10px;
        }
    </style>
</head>
<body>

    <div class="mensagem">✅ Dados excluidos com sucesso!</div>
    <p class="subtitulo">Você será redirecionado para a página inicial em 3 segundos...</p>

</body>
</html>
